*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #04529f;
  }
  
.counter-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 800px;
    height: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.counting-buttons {
    display: flex;
    justify-content: space-between;
    gap:rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


  